AddDefaultCharset utf-8

AddType application/octet-stream .doc .docx .xls .xlsx .pdf

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* ? [QSA,L]