<!DOCTYPE HTML PUBLIC "-//W3C//DTD
	HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{ title ? title : config.site_title }} — MadOne</title>

        <link rel="stylesheet" href="/media/bootstrap-1.3.0.css">
        <link rel="stylesheet" type="text/css" href="/static/css/admin/style.css"/>
        
		<script type="text/javascript" src="http://yandex.st/jquery/1.6.4/jquery.js"></script>

		<script type="text/javascript" src="/media/improved.js"></script>
		<script type="text/javascript" src="/media/storm.js?20100707"></script>
		<script type="text/javascript" src="/media/mad.js"></script>
		<script type="text/javascript" src="/media/madone.js"></script>

		<!-- Jquery UI -->
		<script type="text/javascript" src="/media/jquery-ui-1.8.4/jquery-ui-1.8.4.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/media/jquery-ui-1.8.4/ui-lightness/jquery-ui-1.8.4.custom.css"  />

        <!--[if IE]>
        <script type="text/javascript" src="/media/json2.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/media/jquery.ui.nestedSortable.js"></script>

		<script type="text/javascript" src="/media/jquery.form.js"></script>
		<script type="text/javascript" src="/media/jquery.fileupload-5.3.js"></script>

		<!-- Визуальный редактор -->
		<script type="text/javascript" src="/media/ckeditor-3.6.1/ckeditor.js"></script>
		
		<!-- Лайтбокс. Используется в галереях для просмотра крупных изображений -->
		<script type="text/javascript" src="/media/jquery.fancybox-1.3.1/jquery.fancybox-1.3.1.pack.js"></script>
		<link rel="stylesheet" href="/media/jquery.fancybox-1.3.1/jquery.fancybox-1.3.1.css">

		<script type="text/javascript" src="/media/initialization.js"></script>
	</head>
    <body>
    	<div id="ajaxInfo">Жду ответ от сервера...</div>
        <div class="topbar">
        <div class="topbar-inner">
            <div class="container fixed">
                <h3><a class="logo" href="http://{{ server.SERVER_NAME }}/" title="Перейти на сайт">{{ config.site_title }}</a></h3>
                {% include "header-menu.twig" %}
            </div>
        </div>
        </div>
        <div class="container-fluid">
            <div class="sidebar" style="padding-top:60px;">
                {% include 'menu.twig' %}
            </div>
            <div class="content" style="padding-top:60px;">
                <div class="madone-module">
                    {{ content|raw }}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                // Dropdown menu
                $('.secondary-nav a.menu').click(function(){
                    $('.secondary-nav .menu').toggleClass('open');
                    return false;
                });

                /* AJAX informer */
                var timer = null;
                $("#ajaxInfo").ajaxStart(function(){
                    timer = setTimeout('$("#ajaxInfo").show();', 500);
                });
                $("#ajaxInfo").ajaxStop(function(){
                    clearTimeout(timer);
                    $(this).hide();
                });
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>