<!DOCTYPE HTML PUBLIC "-//W3C//DTD
	HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
    <html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{{ config.site_title }} &mdash; MadOne</title>
        <link rel="stylesheet" type="text/css" href="/static/css/admin/style.css"/>
    </head>
    <body>
        <div class="madone-content">
            <div class="container" style="padding-top: 120px;">
                <div class="row">
                    <div class="span8 columns offset2">
                        <h1>MadOne</h1>

                        <form method="post" class="well form-inline madone-login-form">
                            <input class="span3" tabindex="1" type="text" name="_madone_login" value="{{ _madone_login }}"/>
                            <input class="span3" tabindex="2" type="password" name="_madone_password"/>
                            <button tabindex="3" type="submit" class="btn btn-primary">Войти</button>
                        </form>
                        {% if login_attempt %}
                            <div class="alert-message error">
                                <p>Неправильное имя или пароль.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://yandex.st/jquery/1.6.4/jquery.js"></script>
        <script type="text/javascript">
        $(function() {
            $( 'input[name=_madone_login]' ).focus();
        });
        </script>
    </body>
</html>