<ul id="madone-navigation" class="nav nav-tabs nav-stacked">
    {% for i in menuItems %}
        {% if i.selected %}
    <li class="active">
        <a href="#">{{ i.title }}</a>
    </li>
        {% else %}
    <li>
        <a href="{{ i.uri }}">{{ i.title }}</a>
    </li>
        {% endif %}
    {% endfor %}
</ul>
