<div class="well">
    <ul id="madone-navigation" class="unstyled">
        {% for i in menuItems %}
        <li>
            {% if i.selected %}
            <span class="label">{{ i.title }}</span>
            {% else %}
            <a href="{{ i.uri }}">{{ i.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>