<form method="post" class="feedback">
    <label>
        Ваше имя:<br>
        <input type="text" name="name">
    </label>
    <label>
        Email:<br>
        <input type="text" name="email">
    </label>
    <label>
        Сообщение:<br>
        <textarea name="text">

        </textarea>
    </label>
    <button type="submit">Отправить</button>
</form>
