<style type="text/css">
p {
	margin: 5px 0;
}
</style>

<div class="module-content">
    <p>Вы находитесь на стартовой странице системы управления Вашим сайтом.</p>
    <p>Чтобы начать работу, кликните по заголовку-меню, откроется список модулей, установленных в системе. Выбирайте нужный и действуйте!</p>
    <p>В настройках Вы можете указать модуль, которым Вы пользуетесь чаще всего, и он будет открываться после входа в систему вместо этой страницы.</p>
</div>