body {
    background: url('/cms/static/i/1x1.gif') no-repeat;
    background-attachment: fixed;
}
#ajaxInfo {
	position: absolute;
	top: expression(document.getElementsByTagName("body")[0].scrollTop + "px");
}

.styled-button b, .styled-button b b {
	background-image: url(/cms/static/i/ie6-button.gif);
}
.styled-button:active b, .styled-button:active b b {
	background-image: url(/cms/static/i/ie6-button-active.gif) !important;
}
.styled-button:hover b, .styled-button:hover b b, .styled-button:focus b, .styled-button:focus b b {
	background-image: url(/cms/static/i/ie6-button-hover.gif);
}

.small-styled-button b, .small-styled-button b b {
	background-image: url(/cms/static/i/ie6-button.gif);	
}
.small-styled-button:active b, .small-styled-button:active b b {
	background-image: url(/cms/static/i/ie6-button-active.gif) !important;
}
.small-styled-button:hover b, .small-styled-button:hover b b, .small-styled-button:focus b, .small-styled-button:focus b b {
	background-image: url(/cms/static/i/ie6-button-hover.gif);
}
.small-styled-button b b {
	line-height: 34px;
}
.helpbutton b {
	background: url(/cms/static/i/ie6-helpbutton.gif) no-repeat;
}
.helpbutton:hover b {
	background: url(/cms/static/i/ie6-helpbutton-hover.gif) no-repeat;
}
.helpbutton:active b {
	background: url(/cms/static/i/ie6-helpbutton-active.gif) no-repeat;
}