.madone-header {
	background: transparent;
    height: auto !important;
    text-align: center;
}

.madone-content {
    ~text-align: center;
    ~padding-top: 100px;
}

.madone-header img {
    margin: 80px auto 15px;
}

.madone-login-form {
    width: 321px;
    margin: 100px auto 0;
    font-size: 16px;
    text-align: left;
    ~margin: 0;
}

.madone-login-form input {
    width: 230px;
}

.madone-login-form label {
    display: block;
	width: 63px;
	float:left;
	margin-top: 5px;
}

.madone-login-form .block {
    margin: 10px 0;
} 

.madone-login-form button {
    margin-left: 58px;
    -webkit-appearance:button;
}

.madone-login-form p {
    margin-left: 63px;
    font-size: 14px;
}