@import "/static/css/admin/bootstrap-1.4.0.css";

#ajaxInfo {
	/*background: #fce7be url(/static/i/admin/ajax-load.gif) 6px 8px no-repeat;*/
	display: none;
    background: #fce7be;
	position: fixed;
	z-index: 100;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	border: 1px solid #d59f34;
	color: #000;
	padding: 9px 6px 6px 6px;

    top:39px;
	left: 15px;
}

.movable {
    cursor: move;
}

.madone-content, .madone-header, .madone-menu, .madone-menu-items {
    padding: 0 60px 0;
}

.module-buttons {
	height: 34px;
    margin-bottom: 1em;
}

.module-header {
    margin: 0 9px 19px;
}

.module-content {
    padding-bottom: 60px;
}

.madone-module {
	padding: 15px 0 0;
    overflow: hidden;
}

.a-units {
	background: #f1f1f1;
	padding-top: 1px;
	overflow: hidden;
}
.a-units > ol {
    margin: 0;
}

.placeholder {
    list-style: none;
}

.a-unit {
	display: inline-block;
	width: 100%;
}
.a-unit-body {
	background: #fff; 
	border: 1px solid #ddd;	
	margin: 0;
    padding: 7px 9px;
    margin-top: -1px;
    min-height: 34px;
    overflow: hidden;
}
.a-unit > div.a-unit-body:hover {
    background: #fce7be !important;
}

.disabled p, .disabled h2, .disabled i {
	color: #ccc !important;
}

.a-unit-body h2 {
    font-size: 14px;
    margin: 0 0 2px 0;
    line-height: 14px;
}

.a-unit-body p {
    font-size: 11px;
    color: #888;
    margin: 0;
}

.a-unit-body .actions {
    background: none;
    border: none;
    padding: 0;
    float: right;
    margin: 7px 0 0;
}

.a-unit-body .actions img {
	opacity:0.6;
	filter: alpha(opacity = 60);
    vertical-align: middle;
    margin:0 5px;
	cursor: pointer;
	padding: 2px;	
}

.a-unit-body .actions img:hover {
	opacity:1;
	filter: alpha(opacity = 100);
	cursor: pointer;
}
.a-unit-body .actions img.noclick {
	cursor: default;
}
.a-unit-body .actions img:hover.noclick {
	cursor: default;
}

.a-unit-sortable-helper {
	background: #fce7be;
	margin-top: -1px !important;
	/margin-top: 0px !important;	
}

.a-unit-form {
	background: #fff;
	border: 1px solid #d59f35;
    border-radius: 5px;
	box-shadow: 0 0 8px #ccc;

	padding: 10px 8px 0;
 	margin: 10px 0 15px 0;

    display: none;
}

.a-units .a-unit-form {
	border-radius: 0;
 	margin: 0 0 1px 0;
}

.a-unit-form textarea[rich="yes"] {
    height: 300px;
}

img.ajax-loader {
	vertical-align: text-top;
	margin: 0 8px;
	width: 16px;
	height: 16px;
}

.ui-datepicker {
    font-size: 11px !important;
}

/* Multiupload */
.uploadifyQueue {
	overflow-y: scroll;
	max-height: 200px;
	~height: 200px;
	
	margin: 10px 0;
	background:#fff;
	-moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #aaa;
	padding:8px;
	~display: inline-block;
	~padding-bottom: 6px;
	~overflow: visible;
	
	display: none;
}
.uploadifyQueueItem .cancel {
	float: left;
	margin-right: 8px;
}
.uploadifyQueueItem {
	overflow: hidden;
	height: 30px;
}

/* Картинки */
.gallery {
	display: block;
	margin:0;
	background:#fff;
    border-radius: 5px;
	border: 1px solid #d59f35;
	padding:2px;
	overflow: hidden;
	~display: inline-block;
	~padding-bottom: 6px;
	~overflow: visible;
}

.gallery.loading {
	height: 60px;
	background: #fff url('/static/i/admin/items-loading-bg.gif') center center no-repeat;
}

.gallery.empty {
	height: 60px;
	line-height: 60px;
	font-style: italic;
	color: #777;
	text-align: center;
}

.gallery .thumb {
	display: block;
	margin: 4px;
	float: left;
}

.gallery .thumb img {
	cursor: move;
	vertical-align:middle;
	border: 1px solid #ddd;
}

.gallery a.thumb .control {
	position: absolute;
	display: none;
}

.gallery a .control img {
	background: #fff;
	margin: 8px 0 0 8px;
	padding: 3px;
	border: 1px solid #888;
	cursor: pointer;
	
	border-radius: 4px;
}

.gallery a.thumb:hover .control {
	display: block !important;
}

.semitransparent {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.gallery-form {
	display: block;
	float: left;
	background: #fff;
	border: 1px solid #d59f35;
	margin: 3px;
	padding: 0;

	box-shadow: 0px 0px 8px #ccc;
}

.gallery-form img {
	float: left;
	~margin-left: -3px;
}

.gallery-form .form {
	width: 300px;
	float: left;
	margin: 0px 5px;
	padding-top: 3px;
}

.gallery-form .form textarea {
	height: 50px;
}

.m-tab {
    display: none;
}
.m-tab-active {
    display: block;
}

form.form-stacked {
    padding-left: 8px;
}
form.form-stacked div.actions {
    margin-left: 0;
    padding-left: 10px;
}

.topbar {
    z-index: 9000;
}

.cke_skin_kama *, .cke_skin_kama a:hover, .cke_skin_kama a:link, .cke_skin_kama a:visited, .cke_skin_kama a:active {
    float: none;
}