<div id="footer">
	<div class="copy">© Ваш сайт, 2010</div>
	<div class="made-by-madrocket"><a href="http://www.madrocket.ru/" title="Создание сайтов в Красноярске"><img alt="MadRocket - создание сайтов" src="/static/i/madrocket.png" />создание сайтов</a></div>
</div>
